/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/ensemblgenedownload Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    // Files are often missing and added later by Ensembl. Since the pipeline won't
    // create partial disks, no need to complain
    withName: 'ENSEMBL_GENESET_DOWNLOAD' {
        errorStrategy = { task.exitStatus in [130,143,137,104,134,139] ? 'retry' : 'ignore' }
    }

    // Most of the pipeline requires very little resources
    cpus   = 1
    // but still gradually increase the resources to allow the pipeline to self-heal
    memory = { check_max( 50.MB * task.attempt, 'memory' ) }
    time   = { check_max( 30.min * task.attempt, 'time' ) }

    // samtools dict loads entire sequences in memory
    withName: 'SAMTOOLS_DICT' {
        // 50 MB per 50 Mbp
        memory = { check_max( 50.MB + 50.MB * task.attempt * Math.ceil(meta.max_length / 50000000), 'memory' ) }
    }

    // sort needs some memory
    withName: 'TABIX_SORT_BGZIP' {
        // 100 MB per 50 Mbp
        memory = { check_max( 50.MB + 100.MB * task.attempt * Math.ceil(input.size() / 50000000), 'memory' ) }
    }

    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
