/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: ENSEMBL_GENESET_DOWNLOAD {
        maxForks = 3
    }

    withName: '.*:.*:PREPARE_GENOME:(TABIX_.*|SAMTOOLS_.*|CHROM_SIZES)' {
        publishDir = [
            path: { "${params.outdir}/${meta.outdir}/gene/${meta.method}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:.*:PREPARE_GENOME:CHROM_SIZES' {
        publishDir = [
            path: { "${params.outdir}/${meta.outdir}/gene/${meta.method}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace("chrom_sizes", "seq_length.tsv") }
        ]
    }
    withName: '.*:.*:PREPARE_GENOME:SAMTOOLS_DICT' {
        // Otherwise the .dict includes paths from Nextflow's work/ directory
        ext.args = { "--uri ${task.publishDir.path[0]}/${meta.id}.fa.gz" }
        publishDir = [
            path: { "${params.outdir}/${meta.outdir}/gene/${meta.method}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.id}.fa.gz.dict" }
        ]
    }

    withName: 'TABIX_TABIX' {
        ext.args = "--preset bed --csi"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: params.tracedir,
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
