/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:.*:PREPARE_GENOME:(TABIX_.*|SAMTOOLS_.*|CHROM_SIZES)' {
        publishDir = [
            path: { "${params.outdir}/gene/${meta.method}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    publishDir = [
        path: { "${params.outdir}/BACKUP/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'TABIX_TABIX' {
        ext.args = "--preset bed --csi"
    }

    // Otherwise the .dict includes paths from Nextflow's work/ directory
    withName: SAMTOOLS_DICT {
        ext.args = { "--uri ${task.publishDir.path[0]}/${fasta.name}.gz" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: params.tracedir,
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
